.main {
    padding: 30px 0;
}

.recipes__card + .recipes__card {
    margin-top: 15px;
}

.ingredientsList {
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 10px;
    border-radius: 5px;
}

.recipes__card {
    overflow: hidden;
    color: inherit;
}

.recipes__card:hover {
    text-decoration: none;
    color: inherit;
}

.recipes__card .card-body {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.recipes__card .card-img-top {
    transition: all .2s ease-in-out;
}

.recipes__card:hover .card-img-top {
    transform: scale(1.1);
}